/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ----- Clearing Format Styles ----- */

h1, h2, h3, h4, p, figure {
  margin: 0;
  /* overrides default margins */
}

ul {
  margin: 0;
  padding: 0;
  /* overrides default margin and padding on lists */
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ----- Global Layout Styles ----- */

html, body {
  height: 100%;
  /* above rule helps footer stick to bottom */
}

body {
  display: flex;
  flex-direction: column;
  /* above 2 rules help footer stick to bottom */
}

main {
  flex: 1 0 auto;
  /* above rule helps footer stick to bottom */
  margin: 50px 25px 100px 25px;
  text-align: center;
}

footer {
  flex-shrink: 0;
  /* above rule helps footer stick to bottom */
}

/* ----- Typography & Coloring Styles ----- */

body {
  font: 300 16px 'Roboto', sans-serif;
  color: #2a2a2a;
}

h1 {
  font: 700 3em 'Balsamiq Sans', cursive;
}

.color-1 {
  background-color: hsl(45, 100%, 50%);
}
  .color-1-light {
    background-color: hsl(45, 100%, 85%);
  }
  /* setting this color for better contrast with white text */
  .color-1-dark {
    background-color: hsl(45, 85%, 50%);
  }

.color-2 {
  background-color: hsl(80, 66%, 36%);
}
  .color-2-light {
    background-color: hsl(80, 66%, 85%);
  }

.color-3 {
  background-color: hsl(0, 70%, 45%);
}
  .color-3-light {
    background-color: hsl(0, 70%, 85%);
  }

.color-4 {
  background-color: hsl(220, 100%, 70%);
}
  .color-4-light {
    background-color: hsla(220, 100%, 85%);
  }



/* ---------- Base Nav Styles ---------- */

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* this nav ul border evens out the border-width of the outer nav items */
  /* border-width: 0 1px;
  border-style: solid;
  border-color: #2a2a2a; */
}

nav a {
  /* breaking out separate border stylings so I can specify width on top and sides */
  border-width: 2.5px 1.5px;
  border-style: solid;
  border-color: #2a2a2a;
  width: 25%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 400 1em 'Roboto', sans-serif;
}

.border-heavy-left {
  border-left: 2.5px solid #2a2a2a;
}

.border-heavy-right {
  border-right: 2.5px solid #2a2a2a;
}

.border-light-bottom {
  border-bottom: 1.5px solid #2a2a2a;
}

.border-light-top {
  border-top: 1.5px solid #2a2a2a;
}

/* ---------- Base Footer Styles ---------- */
/* ----- See "Global Layout Styles" section for rules making footer stick to bottom ---- */

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: .75em;
  margin-bottom: 15px;
}
.site-name {
  font: 400 1em 'Balsamiq Sans', cursive;
}

footer .author-name a {
  text-decoration: underline;
}

footer .author-name a:hover {
  color: hsl(220, 75%, 50%);
  /* this color is slightly darker than the standard blue */
}

footer .author-name a:active {
  font-weight: 400;
}

/* TODO should I apply the link styling to all links? */


/* ---------- Base Pages Styles ---------- */
/* ---------- [About, Social, Work, Contact] 
              Homepage Styles are farther below since it's more specific ---------- */

main h1 {
 margin-bottom: 25px;
}

.content-container {
  margin: 25px 0;
}

button {
  width: 50%;
  padding: 10px;
  color: white;
  border: 2px solid #2a2a2a;
  /* font: 400 1.125em 'Balsamiq Sans', cursive; */
  /* I can't decide between using Balsamiq or Roboto for buttons, leaving Roboto active */
  font: 400 1.25em 'Roboto', sans-serif;
  border-radius: 4px;
}

/* ---------- Base Homepage Styles ---------- */
/* ---------- Styling for all other pages is above ---------- */

#homepage-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

#homepage-hero h1 {
  font-size: 13vw;
  text-align: center;
  margin: 15px;
}

#homepage-hero img {
  width: 85%;
  margin: 15px;
}

#homepage-nav {
  margin-bottom: 75px;
}

#homepage-nav ul {
  margin: 15px;
  justify-content: center;
  flex-flow: row wrap;
}

#homepage-nav a {
  width: 48%;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

