/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ========== INDEX ========== 
      Clearing Format Styles [My personal styling to clear default formatting]
      Global Layout Styles
      Typography & Coloring Styles
      Base Nav Styles
      Base Footer Styles
      Base Homepage Styles
      Base Pages Styles [About, Social, Work, Contact]
      ~default Helper Classes section~
      MEDIA QUERY for 1024px+
        Desktop Nav Styles
        Desktop Homepage Styles
        Desktop Pages Styles
*/

/* ----- Clearing Format Styles ----- */

h1, h2, h3, h4, p, figure {
  margin: 0;
  /* overrides default margins */
}

ul {
  margin: 0;
  padding: 0;
  /* overrides default margin and padding on lists */
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ----- Global Layout Styles ----- */

html, body {
  height: 100%;
  /* above rule helps footer stick to bottom */
  /* source for sticky footer code: https://css-tricks.com/couple-takes-sticky-footer/ */
}

body {
  display: flex;
  flex-direction: column;
  /* above 2 rules help footer stick to bottom */
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1 0 auto;
  /* above 1 rule helps footer stick to bottom */
  margin: 50px 25px 100px 25px;
  text-align: center;
}

footer {
  flex-shrink: 0;
  /* above rule helps footer stick to bottom */
}

/* ----- Typography & Coloring Styles ----- */

body {
  font: 300 16px 'Roboto', sans-serif;
  color: #2a2a2a;
}

h1 {
  font: 700 3em 'Balsamiq Sans', cursive;
}

p {
  line-height: 1.5;
}

.color-1 {
  background-color: hsl(45, 100%, 50%);
}

.color-1-light {
  background-color: hsl(45, 100%, 85%);
}

.color-1-dark {
  background-color: hsl(45, 85%, 50%);
  /* setting this above color for better contrast with white text */
}

.color-2 {
  background-color: hsl(80, 66%, 36%);
}

.color-2-light {
  background-color: hsl(80, 66%, 85%);
}

.color-3 {
  background-color: hsl(0, 70%, 45%);
}

.color-3-light {
  background-color: hsl(0, 70%, 85%);
}

.color-4 {
  background-color: hsl(220, 100%, 70%);
}

.color-4-light {
  background-color: hsla(220, 100%, 85%);
}

.color-white {
  background-color: white;
}

/* ---------- Base Nav Styles ---------- */
.nav-grid {
  display: grid;
  grid-gap: 0px;
  margin-bottom: 50px;
  /* separate styling for homepage and general pages below*/
}

    .home-nav-grid__container {
      grid-template-columns: 50% 50%;
    }

    .home-nav-grid__container .mobile-top-row {
      border-bottom: none
      /* prevents grid from having double borders */
    }

    .home-nav-grid__container .mobile-left-column {
      border-right: none;
      /* prevents grid from having double borders */
    }

    .gen-nav-grid__container {
      grid-template-columns: 25% 25% 25% 25%;
    }

    .gen-nav-grid__container .inner-column {
      border-left: none;
      /* prevents grid from having double borders */
    }

.nav-grid__item {
  border: .5px solid black;
  text-align: center;
  height: 50px;
  padding-top: 25px;
  font: 400 1em 'Roboto', sans-serif;
}

.nav-grid__item:hover {
  transform: scale(1.025, 1.075);
  transition-duration: 0.35s;
  border-radius: 2px;
  border: none;
}

.home-link-img {
  display: flex;
  justify-content: center;
  align-items: center;
  /* align-items: flex-end makes image line up properly */
}

.home-link-img img {
  width: 85%;
  max-width: 90px;
  display: block;
  /* display: block must be set for hover-overlay to work */
  opacity: 1;
}

.hover-overlay {
  opacity: 0;
  position: absolute;
}

.nav-grid__item:hover img {
  opacity: 0.45;
}

.nav-grid__item:hover .hover-overlay {
  opacity: 1;
  transition-duration: 0.35s;
}

/* used w3 tutorial for image hover overlay: https://www.w3schools.com/howto/howto_css_image_overlay.asp on 12/2/20 */




/* ---------- Base Footer Styles ---------- */

/* ----- See "Global Layout Styles" section for rules making footer stick to bottom ---- */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: .75em;
  margin-bottom: 15px;
  width: 90%;
  max-width: 500px;
}

.site-name {
  font: 400 1em 'Balsamiq Sans', cursive;
}

footer .author-name a {
  text-decoration: underline;
}

footer .site-name a:hover, footer .author-name a:hover {
  color: hsl(220, 75%, 50%);
  /* this color is slightly darker than the standard blue */
}

footer .author-name a:active {
  font-weight: 400;
}

/* TODO should I apply the link styling to all links? */

/* ---------- Base Homepage Styles ---------- */

.homepage-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin: 25px 0;
}

.homepage-content-container h1 {
  font-size: 13vw;
  text-align: center;
  margin: 15px;
}

.homepage-content-container img {
  width: 85%;
  margin: 15px;
}

.homepage-content-container img:hover {
  transform: scale(1.01) rotate(2deg);
  transition-duration: 0.2s;
}

/* ---------- Base Pages Styles ---------- */

/* ---------- [About, Social, Work, Contact]  ---------- */

main h1 {
  margin-bottom: 25px;
}

.content-container {
  margin: 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.content-item {
  width: 90%;
  max-width: 500px;
}

.content-item img {
  width: 100%;
  margin-bottom: 50px;
  /* setting margin-bottom to 50 so it matches the space between h1/content-container and content-container/button */
}

.content-item ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: row wrap;
  margin-left: 50px;
}

.content-item li {
  list-style: disc outside;
  text-align: left;
  margin: 10px 10px 10px 15px;
  width: 100%;
}

.button, #contact-form-submit {
  max-width: 175px;
  margin: 25px 0;
  padding: 10px;
  color: white;
  border: 2px solid #2a2a2a;
  /* font: 400 1.125em 'Balsamiq Sans', cursive; */
  /* I can't decide between using Balsamiq or Roboto for buttons, leaving Roboto active */
  font: 400 1.25em 'Roboto', sans-serif;
  border-radius: 4px;
}

.contact-form-container {
  width: 100%;
}

.contact-form-container form {
  width: 100%;
}

.contact-form-item {
  width: 90%;
  margin: 10px;
  padding: 5px;
  line-height: 2;
  font: 100 16px 'Roboto', sans-serif;
  font-style: italic;
}

/*
#contact-form-submit {
  background-color: hsl(220, 100%, 70%);
}
*/

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden, [hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active, .sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before, .clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 1024px) {
  /* ---------- Desktop Nav Styles ---------- */
  .nav-grid__item {
    font-size: 1.25em;
  }

  .home-link-img img {
    width: 100%;
  }

  .home-nav-grid__container {
    grid-template-columns: 25% 25% 25% 25%;
  }
  .home-nav-grid__container .nav-grid__item {
    border: .5px solid black;
    /* must set border again to override mobile-top-row and mobile-left-column border:none settings */
  }
  .home-nav-grid__container .inner-column {
    border-left: none;
    /* this prevents grid from having double borders */
  }

  .nav-grid__item:hover {
    border: none;
    /* must set border again to override other override above. TODO is there a more efficient way to do this? */
  }

  /* ---------- Desktop Homepage Styles ---------- */
  .homepage-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row-reverse;
    /* max-width: 1600px; */
    /* TODO how to prevent container from getting too big, while also centering content? 
    might need to add another div layer. */
  }
  .homepage-content-container h1 {
    font-size: 7vw;
    text-align: left;
    margin-left: 50px;
  }
  .homepage-content-container img {
    width: 50%;
  }
  #homepage-nav ul {
    margin: 0;
  }
  #homepage-nav a {
    width: 24.66%;
    border-width: 2.5px 1.5px;
  }
  #homepage-nav a:first-child {
    border-left: 2.5px solid #2a2a2a;
  }
  #homepage-nav a:last-child {
    border-right: 2.5px solid #2a2a2a;
  }
  /* ---------- Desktop Pages Styles ---------- */
  /* ---------- [About, Social, Work, Contact] 
              Homepage Styles are farther below since it's more specific ---------- */
  main {
    margin: 75px 150px;
    justify-content: flex-start;
  }
  h1 {
    font-size: 4em;
  }
  .content-container {
    flex-flow: row wrap;
    align-items: flex-start;
  }
  .content-item {
    width: 50%;
  }
  .content-item p {
    margin: 25px 0 0 50px;
    text-align: left;
  }
  .content-item ul {
    margin-left: 75px;
  }
  /* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
  @media print {
    *, *::before, *::after {
      background: #fff !important;
      color: #000 !important;
      /* Black prints faster */
      box-shadow: none !important;
      text-shadow: none !important;
    }
    a, a:visited {
      text-decoration: underline;
    }
    a[href]::after {
      content: " (" attr(href) ")";
    }
    abbr[title]::after {
      content: " (" attr(title) ")";
    }
    /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
    a[href^="#"]::after, a[href^="javascript:"]::after {
      content: "";
    }
    pre {
      white-space: pre-wrap !important;
    }
    pre, blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
    /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
    thead {
      display: table-header-group;
    }
    tr, img {
      page-break-inside: avoid;
    }
    p, h2, h3 {
      orphans: 3;
      widows: 3;
    }
    h2, h3 {
      page-break-after: avoid;
    }
  }