
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Roboto&display=swap');

/*GENERAL STYLING*/

body {
  background-color: white;
  color: #3D3D3D;
  font-family: Roboto, Sans-Serif;
  height: 1000px;
  margin: 0px;
  }

h1 {
  font-family: 'Balsamiq Sans', cursive;
  font-size: 3em;
}

h2 {
  font-family: 'Balsamiq Sans', cursive;
}

.nav-bar-container {
  height: 3em;
  border: 2px dashed blue;
}

.nav-items-container {
  height: 3em;
}

.nav-bar-page-title {
  text-align: center;
  font-family: 'Balsamiq Sans', cursive;
}


.content-container {
  margin: 50px auto;
  max-width: 75%;
  text-align: center;
}

.dashed-container {
    border: 2.5px dotted #3D3D3D;
    border-radius: 2px;
    padding: 5px 15px 5px 15px;
}




/*GENERAL footer*/
footer {
  margin-top: 30px;
}

.footer_info {
  font-size: 12px;
  text-align: center;
}



/*LANDER*/
    .hero-container {
      display: flex;
    }
    
    .hero-img-container {
      width: 60%;
      text-align: center;
      align-items: center;
    }
    
    #happy-skunk-head {
      width: 95%;
      max-width: 600px;
      padding: 25px 0px 0px 25px;
    }
    
    #happy-skunk-head:hover {
      transform: scale(1.01) rotate(2deg);
      transition-duration: 0.2s;
    }
    
    .hero-title-container {
      width: 40%;
      padding: 0px 0px 50px 50px;
      display: flex;
      align-items: center;
    }
    
    .hero-title-items {
      border: 2.5px dotted #3D3D3D;
      border-radius: 2px;
      padding: 10px 100px 10px 10px;
    }
    
  /*LANDER nav-bar*/
  .lander-nav-bar-container {
    display: grid;
  }
  
  .lander-nav-items-container {
    display: flex;
  }
  
  .lander-nav-item {
    width: 25%;
    text-align: center;
    padding-top: 1.5em;
    font-size: 1.5em;
    height: 3em;
  }
    
    .lander-nav-item:hover {
      transform: scale(1.2);
      transition-duration: 0.4s;
      border-radius: 2px;
    }


/*STYLE GUIDE*/

  .styleguide-dashed-container {
    border: 2.5px dotted #3D3D3D;
    border-radius: 2px;
  }
    
  /*COLOR BAR*/
    .color-bar-container {
      display: grid;
    }
    
    .color-blocks-container {
      display: flex;
    }
    
    .color-block {
      width: 20%;
      text-align: center;
      padding-top: .5em; 
      height: 3em;
    }
    
    .horizontal-line {
      display: inline-block;
      width: 100%;
      border: 2px solid #3D3D3D;
    }
    
    .vertical-line {
      height: 6.5em;
      border: 2px solid #3D3D3D;
      margin: 0;
    }
    
    .blue {
      background-color: #6699ff;
    }
    
    .red {
      background-color: #c42222;
    }
    
    .green {
      background-color: #729A1F;
    }
    
    .yellow {
      background-color: #ffbf00;
    }
    
    .brown {
      background-color: #bf8040;
    }


